In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
from scipy.stats import ttest_ind, ttest_ind_from_stats
from scipy.special import stdtr
from scipy import stats
from scipy.stats import ttest_ind
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()

In [2]:
df2013 = pd.read_csv("ny_crime_2013.csv")
df2014 = pd.read_csv("ny_crime_2014.csv")

In [3]:
#drop column that contains no data
df2013 = df2013.drop('Rape\n(revised\ndefinition)1', axis=1)

In [4]:
#simplify column names
df2013.columns = ['city', 'population', 'violent crime', 'murder', 'rape', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']
df2014.columns = ['city', 'population', 'violent crime', 'murder', 'rape v1', 'rape v2', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']

In [5]:
df2013 = df2013.drop(columns=['city', 'rape'])
df2014 = df2014.drop(columns=['city', 'rape v1', 'rape v2'])

df2013 = df2013.replace({',': ''}, regex=True)
df2014 = df2014.replace({',': ''}, regex=True)

df2013 = df2013.fillna(0).astype(int)
df2014 = df2014.fillna(0).astype(int)

In [6]:
#convert all data into floats
df2013[['population', 'violent crime', 'murder', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']] = df2013[['population', 'violent crime', 'murder', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']].astype('int')
df2014[['population', 'violent crime', 'murder', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']] = df2014[['population', 'violent crime', 'murder', 'robbery', 'assault', 
              'property crime','burglary', 'larceny/theft', 'motor vehicle theft', 'arson']].astype('int')

In [7]:
#remove outliers (based off of 3 standard deviations)
df2013[np.abs(df2013.population-df2013.population.mean())<=(3*df2013.population.std())] 
df2013 = df2013[~(np.abs(df2013.population-df2013.population.mean())>(3*df2013.population.std()))]

df2014[np.abs(df2014.population-df2014.population.mean())<=(3*df2014.population.std())] 
df2014 = df2014[~(np.abs(df2014.population-df2014.population.mean())>(3*df2014.population.std()))]

In [8]:
#disable warning
pd.options.mode.chained_assignment = None

#create population squared column
df2013['population_squared'] = np.square(df2013['population'])
df2014['population_squared'] = np.square(df2014['population'])

In [9]:
#convert murder and robbery (continuous data) columns into categorical data
df2013['murder'] = np.where(df2013['murder']>0, 1, 0)
df2013['robbery'] = np.where(df2013['robbery']>0, 1, 0)

df2014['murder'] = np.where(df2014['murder']>0, 1, 0)
df2014['robbery'] = np.where(df2014['robbery']>0, 1, 0)

In [11]:
df2013.head()

,population,violent crime,murder,robbery,assault,property crime,burglary,larceny/theft,motor vehicle theft,arson,population_squared
0,1861,0,0,0,0,12,2,10,0,0,3463321
1,2577,3,0,0,3,24,3,20,1,0,6640929
2,2846,3,0,0,3,16,1,15,0,0,8099716
3,97956,791,1,1,526,1,705,3243,142,0,1005443344
4,6388,23,0,1,16,223,53,165,5,0,40806544

In [12]:
df2014.head()

,population,violent crime,murder,robbery,assault,property crime,burglary,larceny/theft,motor vehicle theft,arson,population_squared
0,1851,0,0,0,0,11,1,10,0,0,3426201
1,2568,2,0,1,1,49,1,47,1,0,6594624
2,820,0,0,0,0,1,0,1,0,0,672400
3,2842,1,0,0,1,17,0,17,0,0,8076964
4,98595,802,1,1,503,3888,683,3083,122,12,1131039433

In [15]:
len(df2013)

347

In [14]:
len(df2014)

375

In [10]:
y_pred = bnb.fit(df2014, df2013).predict(df2014)

print(df2013.shape)
f = len(df2013)
g = round(.2*f)
h = round(.8*f)
print(g)
print(h)
training_data = df2013[:h]
training_target = df2014[:h]
testing_data = df2013[:-g]
testing_target = df2014[:-g]

print("Number of mislabeled points out of total {} points : {}".format(
    df2013.shape[0],
    (testing_target != y_pred).sum()
))

ValueError: bad input shape (347, 11)